@charset "UTF-8";
/**
 * このサイトはSassを使用しています。
 * このcssを直接編集しないでください。
 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&subset=japanese");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

img {
  vertical-align: top; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
::before,
::after {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  background: #fff;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  color: #003767;
  font-size: 32px !important;
  font-size: 5vw !important;
  line-height: 1.5625;
  font-weight: 400;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: 400; }

a {
  color: #003767;
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

input,
select,
button {
  border: none; }
  input:focus,
  select:focus,
  button:focus {
    outline: 0;
    border: none; }

input[type=text],
input[type=email],
select,
textarea {
  vertical-align: top;
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 32px !important;
  font-size: 5vw !important;
  line-height: 1.5625; }

input[type=text],
input[type=email],
textarea {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type=radio] {
  width: 1.2em;
  height: 1.2em;
  margin: 0; }

label {
  vertical-align: middle;
  cursor: pointer; }
  label input[type=radio] {
    margin-right: 0.5em; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-normal {
  font-weight: 400; }

.text-medium {
  font-weight: 500; }

.text-bold {
  font-weight: 700; }

.text-black {
  font-weight: 900; }

.text-small {
  font-size: 22px !important;
  font-size: 3.4375vw !important; }

.text-large {
  font-size: 42px !important;
  font-size: 6.5625vw !important; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.text-red {
  color: #e00000; }

.text-blue {
  color: #017fcc; }

.container {
  width: 87.5%;
  margin: 0 auto; }

.btn01 {
  display: block;
  background-color: #e00000;
  border-radius: 2.1111111111em;
  color: #fff;
  font-size: 36px !important;
  font-size: 5.625vw !important;
  line-height: 2.1111111111;
  text-align: center; }

#global-head {
  padding: 6.25% 0 9.375%; }
  #global-head h1 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 14.2857142857%;
    padding: 0 0.5555555556em 0 6.1111111111em;
    background-color: #003767;
    border-radius: 0.2222222222em;
    color: #d6d6d6;
    font-size: 36px !important;
    font-size: 5.625vw !important; }
    #global-head h1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 25%;
      padding-top: 19.6428571429%;
      margin: -0.46875em 0 0 0.375em;
      background-image: url("../img/titie-icon.png");
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      font-size: 32px !important;
      font-size: 5vw !important; }

#main-contents {
  padding-bottom: 15.625%; }

.ticket {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 44.6428571429%;
  background-image: url("../img/ticket-bg.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }
  .ticket .inner {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%; }
  .ticket.payment .inner {
    padding-right: 2.8125em; }
    .ticket.payment .inner p {
      width: 7.5em;
      background-color: rgba(214, 214, 214, 0.8);
      border: 0.1666666667em solid #003767;
      border-radius: 2.0833333333em;
      color: #003767;
      font-size: 48px !important;
      font-size: 7.5vw !important;
      line-height: 2.0833333333;
      font-weight: 700;
      text-align: center; }
  .ticket.qrcode figure {
    width: 33.9285714286%; }

.message01 {
  width: 85.7142857143%;
  margin: 0.625em auto; }
  .message01 p {
    text-align: center; }

.ticket-details {
  width: 85.7142857143%;
  margin: 0 auto;
  padding: 0.46875em;
  background-color: #dee8f1;
  border: 0.125em solid #003767;
  text-align: center; }
  .ticket-details h2 {
    font-size: 36px !important;
    font-size: 5.625vw !important;
    font-weight: 700; }
  .ticket-details dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .ticket-details dl dt:not(:nth-of-type(1)) {
      margin-left: 1.71875em; }

.message02 {
  width: 85.7142857143%;
  margin: 0.625em auto; }
  .message02 p {
    color: #e00000;
    text-align: center; }

.btn {
  width: 85.7142857143%;
  margin: 0 auto; }

.end-btn a {
  display: block;
  background-color: #003767;
  color: #fff;
  font-size: 20px !important;
  font-size: 3.125vw !important;
  line-height: 1.8;
  text-align: center; }

/*# sourceMappingURL=main.css.map */