@charset "utf-8";

.container {
  width: per($base_container_width, $base_body_width);
  margin: 0 auto;
}

.btn01 {
  display: block;
  background-color: $color_red;
  border-radius: em(76, 36) + em;
  color: $color_white;
  @include fontsize(36);
  line-height: em(76, 36);
  text-align: center;
}


#global-head {
  padding: per(40, $base_body_width) 0 per(60, $base_body_width);
  h1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: per(80, $base_container_width);
    padding: 0 em(20, 36) + em 0 em(220, 36) + em;
    background-color: $color_primary;
    border-radius: em(8, 36) + em;
    color: $color_secondary;
    @include fontsize(36);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: per(140, $base_container_width);
      padding-top: per(110, $base_container_width);
      margin: - em(15, $base_font_size) + em 0 0 em(12, $base_font_size) + em;
      @include bg_cover("../img/titie-icon.png");
      @include fontsize($base_font_size);
    }
  }
}


#main-contents {
  padding-bottom: per(100, $base_body_width);
}
.ticket {
  position: relative;
  width: per(560, $base_container_width);
  margin: 0 auto;
  padding-top: per(250, $base_container_width);
  @include bg_cover("../img/ticket-bg.png");
  .inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  &.payment {
    .inner {
      padding-right: em(90, $base_font_size) + em;
      p {
        width: em(360, 48) + em;
        background-color: rgba($color_secondary, .8);
        border: em(8, 48) + em solid $color_primary;
        border-radius: em(100, 48) + em;
        color: $color_primary;
        @include fontsize(48);
        line-height: em(100, 48);
        font-weight: 700;
        text-align: center;
      }
    }
  }
  
  &.qrcode {
    figure {
      width: per(190, $base_container_width);
    }
  }
}

.message01 {
  width: per(480, $base_container_width);
  margin: em(20, $base_font_size) + em auto;
  p {
    text-align: center;
  }
}

.ticket-details {
  width: per(480, $base_container_width);
  margin: 0 auto;
  padding: em(15, $base_font_size) + em;
  background-color: #dee8f1;
  border: em(4, $base_font_size) + em solid $color_primary;
  text-align: center;
  h2 {
    @include fontsize(36);
    font-weight: 700;
  }
  dl {
    display: flex;
    justify-content: center;
    dt {
      &:not(:nth-of-type(1)) {
        margin-left: em(55, $base_font_size) + em;
      }
    }
  }
}

.message02 {
  width: per(480, $base_container_width);
  margin: em(20, $base_font_size) + em auto;
  p {
    color: $color_red;
    text-align: center;
  }
}

.btn {
  width: per(480, $base_container_width);
  margin: 0 auto;
}

.end-btn {
  a {
    display: block;
    background-color: $color_primary;
    color: $color_white;
    @include fontsize(20);
    line-height: 1.8;
    text-align: center;
  }
}
