@charset "utf-8";

// --------------------
// CDN Import
// --------------------
// Noto Sans JP
// Noto Serif JP
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&subset=japanese');
//@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900|Noto+Serif+JP:400,700,900&subset=japanese');


$font_base_gothic: "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$font_base_mincho: "游明朝体", "YuMincho", "Yu Mincho M", "游明朝 Medium", "Yu Mincho Medium", "游明朝", "Yu Mincho", "HGS明朝E", serif;

$font_web_gothic: 'Noto Sans JP', "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$font_web_mincho: 'Noto Serif JP', "游明朝体", "YuMincho", "Yu Mincho M", "游明朝 Medium", "Yu Mincho Medium", "游明朝", "Yu Mincho", "HGS明朝E", serif;
