@charset "utf-8";

// Clearfix
@mixin clearfix {
  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}


// Font Size
@mixin fontsize($size, $base: 10) {
	font-size: $size + px !important;
	@if $font_size_mode == 'vw' {
    font-size: ($size / ($base_body_width / 100)) * 1vw !important;
	} @else {
		font-size: ($size / $base) * 1rem !important;
	}
}

// tracking
// photoshopで指定されたトラッキングの値を返す
@mixin tracking($tracking) {
  letter-spacing: ($tracking / 1000 ) + em;
}


// Opacity
@mixin opacity($alpha: 60) {
  opacity: $alpha / 100;
  filter: alpha(opacity=$alpha);
}


// Transition
@mixin transition($sec: 0.3s, $easing: linear) {
  -webkit-transition: $sec $easing;
  transition: $sec $easing;
}


// Translate
@mixin translateX($x) {
  -webkit-transform: translateX($x);
  transform: translateX($x);
}
@mixin translateY($y) {
  -webkit-transform: translateY($y);
  transform: translateY($y);
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x,$y);
  transform: translate($x,$y);
}

// Scale
@mixin scale($scale: 1.2) {
  -webkit-ttransform: scale($scale);
  transform: scale($scale);
}


// Rotate
@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}


// Background Replace
@mixin bg_replace($url, $width, $height) {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url($url);
  padding-top: $height/$width * 100%;
}


// Background Cover
@mixin bg_cover($url) {
  background-image: url($url);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}


// Input PlaceHolder Color
@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }
  // IE
  &:-ms-input-placeholder {
    color: $color;
  }
  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}
